.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px 10px 80px;
    background-color: var(--white);
    box-shadow: 0px 0px 15px 2px #dcdada;
}